<%= form_for(@first_name) do |f| %>
  <% if @first_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@first_name.errors.count, "error") %> prohibited this first_name from being saved:</h2>

      <ul>
      <% @first_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lastName %><br>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.number_field :birthday %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
