<h1>Listing first_names</h1>

<table>
  <thead>
    <tr>
      <th>Lastname</th>
      <th>Birthday</th>
      <th>Website</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @first_names.each do |first_name| %>
      <tr>
        <td><%= first_name.lastName %></td>
        <td><%= first_name.birthday %></td>
        <td><%= first_name.website %></td>
        <td><%= link_to 'Show', first_name %></td>
        <td><%= link_to 'Edit', edit_first_name_path(first_name) %></td>
        <td><%= link_to 'Destroy', first_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New First name', new_first_name_path %>
