<p id="notice"><%= notice %></p>

<p>
  <strong>Lastname:</strong>
  <%= @first_name.lastName %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @first_name.birthday %>
</p>

<p>
  <strong>Website:</strong>
  <%= @first_name.website %>
</p>

<%= link_to 'Edit', edit_first_name_path(@first_name) %> |
<%= link_to 'Back', first_names_path %>
